@model QLDA.Models.tbl_NhanVien

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        box-sizing: border-box;
    }

    .SignUp {
        margin: auto;
        transform: translateY(100px);
        padding: 20px;
        border: 1px solid #F33F3F;
        z-index: 1000;
        height: fit-content;
        border-radius: 2px;
        box-shadow: 0 0 0 0.2rem rgb(243 63 63 / 25%);
    }

    .form-signup > h2 {
        color: #F33F3F;
    }

    .signup-row {
        align-items: center;
        justify-content: space-between;
    }

    .signup-row-title {
        padding: 0;
    }

    .signup-input:focus {
        border-color: #F33F3F;
        box-shadow: 0 0 0 0.2rem rgb(243 63 63 / 25%);
    }

    .signup-input::placeholder {
        font-size: 14px;
    }

    .signup-btn {
        margin-top: 40px;
        margin-right: 15px;
        margin-left: 15px;
        padding: 5px 10px;
        width: 110px
    }
</style>



<section class="content">
    <div class="container-fluid card col-md-10 m-auto SignUp">

        <form action="" method="post" enctype="multipart/form-data" class="col-md-10 m-auto">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <h3 class="text-bold">Đăng ký tài khoản</h3>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Ho", "Họ và tên đệm", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Ho, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ho, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("TenDangNhap", "Tên", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                    </div>
                </div>


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Ten", "Tên đăng nhập", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label("MatKhau", "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("AnhDaiDien", "Ảnh đại diện", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" class="" />
                        @* @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "", type = "file", id = "uploadhinh", name = "uploadhinh", accept = "image/*" } })*@
                        @Html.ValidationMessageFor(model => model.AnhDaiDien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group d-flex row ">
                    @Html.ActionLink("Quay lại", "Index", "Home", null, new { @class = "btn btn-secondary signup-btn" })

                    <div class="col-md-6">
                        @Html.ActionLink("Đăng nhập", "DangNhap", "NhanVien", null, new { @class = "btn  btn-danger signup-btn" })

                        <input id="signup" type="submit" name="submit" value="Đăng ký" class="btn btn-info signup-btn" />
                    </div>
                </div>
            </div>
            }
        </form>

    </div>
</section>