@model IEnumerable<QLDA.Models.tbl_CongViec>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MucTieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianHoanThanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiThietCongViec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_DuAn.TenDuAn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MucTieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianHoanThanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiThietCongViec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_DuAn.TenDuAn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCongViec }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCongViec }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCongViec })
        </td>
    </tr>
}

</table>
