@*@model IEnumerable<QLDA.Models.tbl_DuAn>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .dropbtn {
        background-color: #4986E7;
        color: white;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        height: 30px
    }

    .dropdown {
        position: relative;
        display: inline-block;
        height: calc(1.8125rem + 2px);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý dự án</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quản lý dự án</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@Html.ActionLink("Thêm mới dự án", "Create")</h3>
                        <h3 class="card-title">@*<button id="create" class="btn btn-warning btn-sm">Thêm mới</button>*@</h3>
                        <div class="card-tools">

                            <div class="d-flex">

                                @*<div class="input-group input-group-sm" style="width: 250px;">
                                    <div class="input-group-append">
                                        <a class="btn btn-primary btn-sm" id="" href="/Admin/DuAn/Delete">
                                            Thêm nhân viên
                                        </a>
                                            
                                       
                                    </div>
                                </div>*@

                                <div class="input-group input-group-sm mr-5" style="width: 100px;">
                                    @*<select>
                                        <option id="sapXepTheoKinhPhi">Sắp xếp theo kinh phí</option>
                                    </select>*@
                                    <div class="dropdown">
                                        <button class="dropbtn">Lọc kết quả</button>
                                        <div class="dropdown-content">
                                            <button type="submit" class="btn btn-default" id="sapXepTheoKinhPhi">Kinh phí tăng dần</button>
                                            <button type="submit" class="btn btn-default" id="kinhPhiGiamDan">Kinh phí giảm dần</button>
                                            <a href="#">Link 3</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group input-group-sm" style="width: 250px;">
                                    <input type="text" id="txtSearch" class="form-control float-right" placeholder="Tìm kiếm theo tên dự án">
                                    @*@Html.TextBox("searchString", "", htmlAttributes: new { @class = "form-control float-right", @id = "txtSearch", @placeholder = "Tìm kiếm theo tên dự án" })*@

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default" id="btnSearch">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên dự án</th>
                                    <th>Thời gian dự kiến</th>
                                    <th>Kinh phí</th>
                                    <th>Hình ảnh dự án</th>
                                    <th>Ngày khởi công</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody id="dsDuAn">
                                @*@{ int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@Html.DisplayFor(modelItem => item.TenDuAn)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ThoiGianDuKien) (tháng)</td>
                                        <td>@Html.DisplayFor(modelItem => item.KinhPhi)</td>
                                        <td><img style="width: 100px" src="~/Content/images/projects/@item.Thumbnail" /></td>
                                        <td>@Html.DisplayFor(modelItem => item.NgayKhoiCong)</td>
                                        <td>

                                            @Html.ActionLink("Edit", "Edit", new { id = item.MaDuAn }, new { @class = "btn btn-primary btn-sm" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MaDuAn }, new { @class = "btn btn-danger btn-sm" })

                                        </td>
                                    </tr>
                                    i++;
                                }*@
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="~/Content/Admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        var tuKhoa = '';
        $(document).ready(function () {
            
            loadDsDuAn(tuKhoa);
        });
        $("#btnSearch").click(function () {
            $('#dsDuAn').empty();
            tuKhoa = $("#txtSearch").val();
            removeVietnameseTones(tuKhoa);
            console.log(tuKhoa);
            alert(1);
            loadDsDuAn(tuKhoa);


        });

        $('#sapXepTheoKinhPhi').click(function () {
            $('#dsDuAn').empty();
      
            sortByKinhPhi();
            console.log($('#dsDuAn'));
            alert('aaaaaaaa');
        });
        $('#kinhPhiGiamDan').click(function () {
            $('#dsDuAn').empty();
            kinhPhiGiamDan();
            alert('aaaaaaaa');
        });

        
        function loadDsDuAn(search) {
            $.ajax({
                url: '/Admin/DuAn/DsDuAn',
                type: 'get',
                data: {
                    tuKhoa: search
                },
                success: function (data) {
                    if (data.code == 200) {
                        var i = 1;
                        $.each(data.dsDuAn, function (k, v) {
                            let tr = '<tr>'
                            tr += '<td>' + i + '</td>';
                            tr += '<td>' + v.TenDuAn + '</td>';
                            tr += '<td>' + v.tgDuKien + '</td>';
                            tr += '<td>' + v.KinhPhi + '</td>';
                            tr += '<td> <img style="width: 100px" src="/Content/images/projects/' + v.Thumbnail + '" /></td>';
                            tr += '<td>' + v.tgbatDau + '</td>';
                            tr += '<td>';
                            tr += '<a class="btn btn-primary btn-sm mr-3" id = "" href="/Admin/DuAn/Edit/' + v.MaDuAn + '">' + 'Edit</a>';
                            tr += '<a class="btn btn-danger btn-sm mr-3" id = "" href="/Admin/DuAn/Delete/' + v.MaDuAn + '">' + 'Delete</a>';

                            tr += '<a class="btn btn-info btn-sm" id = "" href="/Admin/DuAn/Details/' + v.MaDuAn + '">' + 'Detail</a>';
                            tr += '</td>';
                            i++;
                            $('#dsDuAn').append(tr);

                        });
                    }
                }
            });
        }

        
        function kinhPhiGiamDan() {

            $.ajax({
                url: '/Admin/DuAn/kinhPhiGiamDan',
                type: 'get',

                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var i = 1;
                        $.each(data.dsDuAn, function (k, v) {
                            let tr = '<tr>'
                            tr += '<td>' + i + '</td>';
                            tr += '<td>' + v.TenDuAn + '</td>';
                            tr += '<td>' + v.tgDuKien + '</td>';
                            tr += '<td>' + v.KinhPhi + '</td>';
                            tr += '<td> <img style="width: 100px" src="/Content/images/projects/' + v.Thumbnail + '" /></td>';
                            tr += '<td>' + v.tgbatDau + '</td>';
                            tr += '<td>';
                            tr += '<a class="btn btn-primary btn-sm mr-3" id = "" href="/Admin/DuAn/Edit/' + v.MaDuAn + '">' + 'Edit</a>';
                            tr += '<a class="btn btn-danger btn-sm mr-3" id = "" href="/Admin/DuAn/Delete/' + v.MaDuAn + '">' + 'Delete</a>';

                            tr += '<a class="btn btn-info btn-sm" id = "" href="/Admin/DuAn/Detail/' + v.MaDuAn + '">' + 'Detail</a>';
                            tr += '</td>';
                            i++;
                            $('#dsDuAn').append(tr);

                        });
                    }
                }
            });
        }

        function sortByKinhPhi() {

            $.ajax({
                url: '/Admin/DuAn/sortByKinhPhi',
                type: 'get',

                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        var i = 1;
                        $.each(data.dsDuAn, function (k, v) {
                            let tr = '<tr>'
                            tr += '<td>' + i + '</td>';
                            tr += '<td>' + v.TenDuAn + '</td>';
                            tr += '<td>' + v.tgDuKien + '</td>';
                            tr += '<td>' + v.KinhPhi + '</td>';
                            tr += '<td> <img style="width: 100px" src="/Content/images/projects/' + v.Thumbnail + '" /></td>';
                            tr += '<td>' + v.tgbatDau + '</td>';
                            tr += '<td>';
                            tr += '<a class="btn btn-primary btn-sm mr-3" id = "" href="/Admin/DuAn/Edit/' + v.MaDuAn + '">' + 'Edit</a>';
                            tr += '<a class="btn btn-danger btn-sm mr-3" id = "" href="/Admin/DuAn/Delete/' + v.MaDuAn + '">' + 'Delete</a>';
                            tr += '<a class="btn btn-info btn-sm" id = "" href="/Admin/DuAn/Detail/' + v.MaDuAn + '">' + 'Detail</a>';
                            tr += '</td>';
                            i++;
                            $('#dsDuAn').append(tr);

                        });
                    }
                }
            });
        }

        function removeVietnameseTones(str) {
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
            str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
            str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
            str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
            str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
            str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
            str = str.replace(/Đ/g, "D");
            // Some system encode vietnamese combining accent as individual utf-8 characters
            // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
            str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
            str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
            // Remove extra spaces
            // Bỏ các khoảng trắng liền nhau
            str = str.replace(/ + /g, " ");
            str = str.trim();
            // Remove punctuations
            // Bỏ dấu câu, kí tự đặc biệt
            str = str.replace(/!||%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
            return str;
        }

    </script>

}
